---
layout: default
title: Schedule
permalink: /schedule/
---

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description, Course Material</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>week1</td>
                    <td>What is the Internet, What is a protocol?
                        The Network Edge, Core, and Access Networks</td>
                </tr>
                <tr>
                    <td>week2</td>
                    <td>Physical Media
                        Delay, Loss and throughput in Packet-Switched Networks</td>
                </tr>
                <tr>
                    <td>week3</td>
                    <td>Protocol Layers and Their Service Models
                        The structure of the Internet
                        A Brief History of Computer Networking and the Internet</td>
                </tr>
                <tr>
                    <td>week4</td>
                    <td>Principles of Application-Layer Protocols
                        The World Wide Web: HTTP</td>
                </tr>
                <tr>
                    <td>week5</td>
                    <td>Week 5 Electronic Mail in the Internet
                        The Internet's Directory Service: DNS</td>
                </tr>
                <tr>
                    <td>week6</td>
                    <td>Peer-peer systems
                        Socket Programming</td>
                </tr>
                <tr>
                    <td>week7</td>
                    <td>Transport-Layer Services and Principles
                        Multiplexing and De-multiplexing Applications
                        Connectionless Transport: UDP</td>
                </tr>
                <tr>
                    <td>week8</td>
                    <td>Principles of Reliable of Data Transfer
                        TCP case study</td>
                </tr>
                <tr>
                    <td>week9</td>
                    <td>Principles of Congestion Control
                        TCP Congestion Control</td>
                </tr>
                <tr>
                    <td>week10</td>
                    <td>Introduction and Network Service Model
                        Routing Principles</td>
                </tr>
                <tr>
                    <td>week11</td>
                    <td>Hierarchical Routing
                        IP: the Internet Protocol</td>
                </tr>
                <tr>
                    <td>week12</td>
                    <td>Routing in the Internet
                        What is Inside a Router?
                        Software Defined Networks</td>
                </tr>
                <tr>
                    <td>week13</td>
                    <td>The Data Link Layer: Introduction, Services
                        Error Detection and Correction
                        Multiple Access Protocols and LANs</td>
                </tr>
                <tr>
                    <td>week14</td>
                    <td>LAN Addresses and ARP
                        Ethernet, VLANs
                        A Day in the Life of an HTTP Request </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>



<!-- <div class="home">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>
        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted reversed %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

    </ul>
</div> -->